.fadein {
    animation-duration: 0.5s;
    animation-name: fadein;
}

.fadeout {
    animation-duration: 0.5s;
    animation-name: fadein;
    animation-direction: reverse;
}

.slide-expand {
    animation-name: slide-expand;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.shake {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadein {
    from {
        margin-top: 5%;
        opacity: 0%;
    }

    to {
        margin-top: 0%;
        opacity: 100%;
    }
}

@keyframes slide-expand {
    from {
        width: 1%;
    }
}

@keyframes shake {
    25% {
        transform: translateY(-10%);
    }

    75% {
        transform: translateY(10%);
    }
}
